# Load data

In [ ]:
# 如果有使用 coloab 再執行此 cell
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
with open('/content/drive/My Drive/fintech-introduction/term-project/train.csv', 'r') as f:
  df = pd.read_csv(f).set_index('txkey')
df

         acqic   bacno    cano    conam  ...  ovrlt  scity stocn  stscd
txkey                                    ...
516056    6881  113261   38038   513.80  ...      N      0   102      0
4376         0  134508   45725   465.62  ...      N   5817   102      0
483434    6881   15408  188328   513.80  ...      N      0   102      0
1407164   6716  157159   29967  1016.11  ...      N   3281   102      0
1051004   5975  105985   81305   713.66  ...      N   5817   102      0
...        ...     ...     ...      ...  ...    ...    ...   ...    ...
1478280   6322   91008   15189   578.38  ...      N   5817   102      0
661087    3226  145107  116252   435.32  ...      N   1458   102      0
167073    6769  162168   93598     1.38  ...      N   5817   102      0
338215    6032   45406  197460     1.38  ...      N   5817   102      0
1055258   6716   48723  176440   406.59  ...      N   2310   102      0

[1521787 rows x 22 columns]

In [ ]:
# with open('/content/drive/My Drive/fintech-introduction/term-project/test.csv', 'r') as f:
#   df_test = pd.read_csv(f).set_index('txkey')
# df_test

### txkey's order is not align with locdt's order

In [ ]:
# df_sort = df.sort_index().values
# for i in range(len(df_sort)):
#   print(df_sort[i][14])

In [ ]:
# df_test.sort_index()

### fill the nan data as 'NA'

In [ ]:
df = df.fillna('NA')
df

         acqic   bacno    cano    conam  ...  ovrlt  scity stocn  stscd
txkey                                    ...
516056    6881  113261   38038   513.80  ...      N      0   102      0
4376         0  134508   45725   465.62  ...      N   5817   102      0
483434    6881   15408  188328   513.80  ...      N      0   102      0
1407164   6716  157159   29967  1016.11  ...      N   3281   102      0
1051004   5975  105985   81305   713.66  ...      N   5817   102      0
...        ...     ...     ...      ...  ...    ...    ...   ...    ...
1478280   6322   91008   15189   578.38  ...      N   5817   102      0
661087    3226  145107  116252   435.32  ...      N   1458   102      0
167073    6769  162168   93598     1.38  ...      N   5817   102      0
338215    6032   45406  197460     1.38  ...      N   5817   102      0
1055258   6716   48723  176440   406.59  ...      N   2310   102      0

[1521787 rows x 22 columns]

### convert 'N'->0, 'Y'->1, 'NA'->2

In [ ]:
df.ecfg = df.ecfg.map(dict(Y=1, N=0, NA=2))
df.flbmk = df.flbmk.map(dict(Y=1, N=0, NA=2))
df.flg_3dsmk = df.flg_3dsmk.map(dict(Y=1, N=0, NA=2))
df.insfg = df.insfg.map(dict(Y=1, N=0, NA=2))
df.ovrlt = df.ovrlt.map(dict(Y=1, N=0, NA=2))
df

         acqic   bacno    cano    conam  ...  ovrlt  scity  stocn  stscd
txkey                                    ...
516056    6881  113261   38038   513.80  ...      0      0    102      0
4376         0  134508   45725   465.62  ...      0   5817    102      0
483434    6881   15408  188328   513.80  ...      0      0    102      0
1407164   6716  157159   29967  1016.11  ...      0   3281    102      0
1051004   5975  105985   81305   713.66  ...      0   5817    102      0
...        ...     ...     ...      ...  ...    ...    ...    ...    ...
1478280   6322   91008   15189   578.38  ...      0   5817    102      0
661087    3226  145107  116252   435.32  ...      0   1458    102      0
167073    6769  162168   93598     1.38  ...      0   5817    102      0
338215    6032   45406  197460     1.38  ...      0   5817    102      0
1055258   6716   48723  176440   406.59  ...      0   2310    102      0

[1521787 rows x 22 columns]

In [ ]:
df = df.sort_values('locdt')
df

         acqic   bacno    cano   conam  ...  ovrlt  scity  stocn  stscd
txkey                                   ...
1547337   6767  137279  176279  785.96  ...      0   5817    102      0
361558    6032   95126   90258  325.94  ...      0   5817    102      0
1833662   6215  104992  168046  288.05  ...      0   6580     38      0
1119486   6717  158233   33494  796.90  ...      0   5800    102      0
1047761   5975   78764  162106  800.02  ...      0   5817    102      0
...        ...     ...     ...     ...  ...    ...    ...    ...    ...
1927172   6618   65727  181927  228.54  ...      0   6593     75      0
239570    6769   43220   18630  939.74  ...      0   5817    102      0
1459534   6767   18611   35515  383.76  ...      0   5817    102      0
580748    6881    7613   38076  513.80  ...      0      0    102      0
785207    3210   77247  151506  391.88  ...      0   2249      6      0

[1521787 rows x 22 columns]

In [ ]:
# df_test = df_test.fillna('NA')
# df_test

In [ ]:
df.to_csv("/content/drive/My Drive/fintech-introduction/term-project/train_sorted_strConverted_fillNA.csv")

# Data Preprocessing

### convert locdt to range [0,6] to meet the weekdays

In [ ]:
df['locdt'] = df['locdt'] % 7
df

         acqic   bacno    cano   conam  ...  ovrlt  scity  stocn  stscd
txkey                                   ...
1547337   6767  137279  176279  785.96  ...      0   5817    102      0
361558    6032   95126   90258  325.94  ...      0   5817    102      0
1833662   6215  104992  168046  288.05  ...      0   6580     38      0
1119486   6717  158233   33494  796.90  ...      0   5800    102      0
1047761   5975   78764  162106  800.02  ...      0   5817    102      0
...        ...     ...     ...     ...  ...    ...    ...    ...    ...
1927172   6618   65727  181927  228.54  ...      0   6593     75      0
239570    6769   43220   18630  939.74  ...      0   5817    102      0
1459534   6767   18611   35515  383.76  ...      0   5817    102      0
580748    6881    7613   38076  513.80  ...      0      0    102      0
785207    3210   77247  151506  391.88  ...      0   2249      6      0

[1521787 rows x 22 columns]

In [ ]:
# df_test['locdt'] = df_test['locdt'] % 7
# df_test

### convert loctm to range HH[0:23], MM[0:59], SS[0:59]

In [ ]:
try:
  df['hh'] = (df['loctm'] / 10000).astype(int)
  df['mm'] = ((df['loctm'] % 10000) / 100).astype(int)
  df['ss'] = (df['loctm'] % 100).astype(int)
except:
  print('already convert!')

df = df.drop(['loctm'], axis=1)
df

         acqic   bacno    cano   conam  contp  ...  stocn  stscd  hh  mm  ss
txkey                                          ...
1547337   6767  137279  176279  785.96      5  ...    102      0   7   6   2
361558    6032   95126   90258  325.94      5  ...    102      0  19  29  20
1833662   6215  104992  168046  288.05      5  ...     38      0  16   1  24
1119486   6717  158233   33494  796.90      5  ...    102      0  15  33  53
1047761   5975   78764  162106  800.02      5  ...    102      0  19  14  48
...        ...     ...     ...     ...    ...  ...    ...    ...  ..  ..  ..
1927172   6618   65727  181927  228.54      5  ...     75      0  16  54  27
239570    6769   43220   18630  939.74      5  ...    102      0  12  42  32
1459534   6767   18611   35515  383.76      5  ...    102      0  14   1  37
580748    6881    7613   38076  513.80      5  ...    102      0  18   2  43
785207    3210   77247  151506  391.88      5  ...      6      0  15  54  30

[1521787 rows x 24 columns]

In [ ]:
# try:
#   df_test['hh'] = (df_test['loctm'] / 10000).astype(int)
#   df_test['mm'] = ((df_test['loctm'] % 10000) / 100).astype(int)
#   df_test['ss'] = (df_test['loctm'] % 100).astype(int)
# except:
#   print('already convert!')

# df_test = df_test.drop(['loctm'], axis=1)
# df_test

### save the converted dataset

In [ ]:
df.to_csv("/content/drive/My Drive/fintech-introduction/term-project/train_locdt_loctm_converted.csv")

In [ ]:
# df_test.to_csv("/content/drive/My Drive/fintech-introduction/term-project/test_convert_locdt_loctm.csv")

### 數值型

In [ ]:
# from sklearn.preprocessing import StandardScaler
# scaler = StandardScaler()
# X_cont = scaler.fit_transform(df_cont)
# X_cont.shape, type(X_cont)

((1521787, 8), numpy.ndarray)

In [ ]:
# df_cont.describe()

### 類別型

In [ ]:
# df_disc = df[col_names_disc].copy()
# df_disc.head()

In [ ]:

# from sklearn.preprocessing import LabelEncoder
# les = {}
# for c in col_names_disc:
#     le = LabelEncoder()
#     df_disc.loc[:,c] = le.fit_transform(df_disc.loc[:,c])
#     les.update({c:le})
# df_disc.head()

In [ ]:
# from sklearn.preprocessing import OneHotEncoder
# ohe = OneHotEncoder(sparse=False)
# X_disc = ohe.fit_transform(df_disc)
# # cut_point = ohe.feature_indices_
# # print("feature cut point: ", cut_point)
# X_disc.shape, type(X_disc)

In [ ]:
# new_col_names_disc = []
# for c in col_names_disc: 
#     le = les[c]
#     new_col_names_disc += [ c+'_'+str(cl) for cl in le.classes_ ]
# assert len(new_col_names_disc) == X_disc.shape[1]

In [ ]:
# df_disc = pd.DataFrame(data=X_disc, index=df.index, columns=new_col_names_disc)
# df_disc.head()

### save the converted feature

In [ ]:
# df = pd.concat((df_cont, df_disc), 1)
# df.shape

In [ ]:
# df = pd.concat((df, y_train), 1)
# df.shape

In [ ]:
# df = df.sample(frac=0.5)

In [ ]:
# df['flbmk']

In [ ]:
# df.to_csv("/content/drive/My Drive/fintech-introduction/term-project/train_X_preprocess_less.csv")

In [ ]:
# y_train.to_csv("/content/drive/My Drive/fintech-introduction/term-project/train_Y.csv")